
<div class="container has-text-centered">
<div id="clearance" class="sign-in icon is-large">
	<i class="fa fa-3x-twitter" ></i>
  <h1> Log in to Twitter</h1>
 <br />
  <%= render partial: '/sessions/form' %>

</div>
</div>