
<div class="container has-text-centered">
<div id="clearance" class="sign-in">
	<i class="fa fa-twitter" ></i>
  <h2> Log in to Twitter</h2>
 <br />
  <%= render partial: '/sessions/form' %>

</div>
</div>