
<div class="container has-text-centered">
<div id="clearance" class="sign-in">
	<span class="icon is-large">
  	<i class="fa fa-twitter fas fa-3x" ></i>
	</span>
	
  <h1> Log in to Twitter</h1>
 <br />
  <%= render partial: '/sessions/form' %>

</div>
</div>