<div class="column">
	<% if signed_in? %>
	<div class = "box">
		<article class="media">
			<div class="media-left">
				<figure class="image is-64x64">
					<img src="https://bulma.io/images/placeholders/64x64.png">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<strong> <%= current_user.name %></strong>
					<p>@<%= current_user.username %></p>
				</div>		
			</div> 
		</article>
		<p><strong>12.1K</strong> Following <span> </span> <span> </span><span> </span><strong>11K </strong> Followers </p>
	</div>
	<div class="list is-hoverable ">
	  <a class="list-item ">
	    Home
	  </a>
	  <a class="list-item">
	    #Explore
	  </a>
	  <a class="list-item">
	    Notifications
	  </a>
	  <a class="list-item">
	    Messages
	  </a>
	  <a class="list-item">
	    Bookmark
	  </a>
	  <a class="list-item">
	    Lists
	  </a>
	  <a class="list-item">
	    Profile
	  </a>
	  <a class="list-item">
	    More
	  </a>
	  <a class="list-item">
	  	<% if signed_in? %>
      	<%= button_to 'Sign out', sign_out_path, method: :delete, class:"button is-info is-inverted is-mobile" %>
    	<% end %>
		</a>
	</div>
	<%end%> 
	<p class="control">
     <%= link_to 'Tweeeet', new_tweeeet_path, class:"button is-link is-inverted is-mobile"%> 
  	</p>
</div>