
<div class="column">
	<% if signed_in? %>
	<nav class="panel">
		<p class="panel-heading">
			Trends For you
		</p>
		<a class="panel-block">
			<p> Trending in United States <br />
			 <strong>#planecrash</strong> <br />
			Trending with: Karachi, #PIACrash, Lahore <br />
			<div class="media-right">
				<figure class="image is-64x64">
					<img src="https://bulma.io/images/placeholders/64x64.png">
				</figure>
			</div>
		</p>
		</a>
		<a class="panel-block">
			<p>Trending in OH <br />
			<strong>Glock</strong> <br />
			29.9K Tweets</p>
		</a>
		<a class="panel-block">
			<p>Politics Trending <br />
			<strong>#FocusOnTheTrumpDeathToll100K</strong> <br />
			21.3K Tweets</p>
		</a>
		<a class="panel-block">
			<p>Trending in United States <br />
			<strong>#meganfoxisfilipino</strong> <br />
			3,075 Tweets</p>
		</a>
		<a class="panel-block">
			Show more
		</a>

	</nav>
	
<%end%>


</div>