
<div class="column is-one-third">
	<% if signed_in? %>
	<nav class="panel">
		<p class="panel-heading">
			Trends For you
		</p>
		<a class="panel-block">
			Trending in United States
				#planecrash
			Trending with: Karachi, #PIACrash, Lahore
			<div class="media-right">
				<figure class="image is-64x64">
					<img src="https://bulma.io/images/placeholders/64x64.png">
				</figure>
			</div>
		</a>
		<a class="panel-block">
			Trend B
		</a>
		<a class="panel-block">
			Trend C
		</a>
		<a class="panel-block">
			Trend D
		</a>
		<a class="panel-block">
			Trend E
		</a>

	</nav>
	
<%end%>


</div>