<div class="column">
	<nav class="panel">
		<p class="panel-heading">
			Trends
		</p>
		<a class="panel-block">
			Trend A
		</a>
		<a class="panel-block">
			Trend B
		</a>
		<a class="panel-block">
			Trend C
		</a>
		<a class="panel-block">
			Trend D
		</a>
		<a class="panel-block">
			Trend E
		</a>


	</nav>
	



</div>