<div class="column">
	<% if signed_in? %>
	<div class="list is-hoverable ">
	  <a class="list-item ">
	    <i class="fa fa-home" ></i> <strong>Home</strong>
	  </a>
	  <a class="list-item">
	   <i class="fa fa-hashtag" ></i> <strong>Explore</strong>
	  </a>
	  <a class="list-item">
	   <i class="fa fa-bell" ></i>  <strong> Notifications</strong>
	  </a>
	  <a class="list-item">
	   <i class="fa fa-envelope" ></i> <strong>Messages</strong> 
	  </a>
	  <a class="list-item">
	   <i class="fa fa-bookmark" ></i> <STRONG>Bookmark</STRONG> 
	  </a>
	  <a class="list-item">
	    <i class="fa fa-list" ></i> <strong> Lists </strong>
	  </a>
	  <a class="list-item">
	   <i class="fa fa-user" ></i> <strong> Profile </strong> 
	  <a class="list-item">
	   <i class="fa fa-ellipsis-h" ></i> <strong> More </strong>
	  </a>
	  	<% if signed_in? %>
	  	<%= link_to 'Tweeeet', new_tweeeet_path, class:"button is-info"%> 
    	<% end %>
     	
	</div>
	<div class = "box">
		<article class="media">
			<div class="media-left">
				<figure class="image is-64x64">
					<img src="https://bulma.io/images/placeholders/64x64.png">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<strong> <%= current_user.name %></strong>
					<p>@<%= current_user.username %></p>
				</div>		
			</div> 
		</article>
		<% if signed_in? %>
      	<%= button_to 'Sign out', sign_out_path, method: :delete, class:"button is-info" %>
    	<% end %>
	
	</div>
	
	

	<%end%> 
	
</div>