
<div class="column">
	<% if signed_in? %>
	<nav class="panel">
		<p class="panel-heading">
			Trends For you
		</p>
		<a class="panel-block">
			Trending in United States
				#planecrash
			Trending with: Karachi, #PIACrash, Lahore
			<div class="media-right">
				<figure class="image is-64x64">
					<img src="https://bulma.io/images/placeholders/64x64.png">
				</figure>
			</div>
		</a>
		<a class="panel-block">
			Trending in OH
			Glock
			29.9K Tweets
		</a>
		<a class="panel-block">
			Politics · Trending
			#FocusOnTheTrumpDeathToll100K
			21.3K Tweets
		</a>
		<a class="panel-block">
			Trending in United States
			#meganfoxisfilipino
			3,075 Tweets
		</a>
		<a class="panel-block">
			Show more
		</a>

	</nav>
	
<%end%>


</div>