

<div class="column">
	<% if signed_in? %>
	<div class = "box">
		<article class="media">
			<div class="media-left">
				<figure class="image is-64x64">
					<img src="https://bulma.io/images/placeholders/64x64.png">
				</figure>
				<div class="media-content">
					<div class="content">
						<strong> <%= current_user.name %></strong>
						<p>@<%= current_user.username %></p>
					</div>
				
				</div> 
			</div>
		</article>
	</div>
	<%end%> 
	<nav class="panel">
		<p class="panel-heading">
			Trends
		</p>
		<a class="panel-block">
			Trend A
		</a>
		<a class="panel-block">
			Trend B
		</a>
		<a class="panel-block">
			Trend C
		</a>
		<a class="panel-block">
			Trend D
		</a>
		<a class="panel-block">
			Trend E
		</a>


	</nav>
	



</div>