<section class="section">
  <div class="container">
  <div class="columns">
    <%= render 'trends' %>
    <%= render 'feed' %>
    <%= render 'sessions/new' %> 
  
  </div>
   
  </div>  
</section>

 