<section class="section">
  <div class="container">
  <div class="columns">
  	<% if signed_in? %>
    <%= render 'trends' %>
    <%else%>
    <%= render 'feed' %>
    <%= render 'homepagesignin' %> 
  	<%end%>
  </div>
   
  </div>  
</section>

 